.pip-indicator-holder {
    position: fixed;
    right: 32px;
    top: calc(50% - 10px);
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1rem;
    z-index: 2147483647 !important;
    opacity: 0.8;
}

.pip-on {
    background: gray;
    border-color: white;
    opacity: 0.8;
}

.pip-off {
    background: white;
    opacity: 0.8;
}
  
.pip-indicator-logo {
    width: 20px;
    height: auto;
    opacity: 0.8;
}
